attrs==21.2.0
autobahn==19.11.2
Automat==20.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cryptography==35.0.0
enum34==1.1.10
Flask==2.0.2
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
kiteconnect==3.9.4
MarkupSafe==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==21.0.0
python-dateutil==2.8.2
pywin32==302;platform_system == "Windows"
requests==2.26.0
service-identity==21.1.0
six==1.16.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2;platform_system == "Windows"
txaio==21.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
zope.interface==5.4.0
