<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Algo Trading - Python</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <script>
        function loginToBroker() {
          window.location.href =  "http://localhost:8080" + "/apis/broker/login/zerodha"
        }
    </script>
</head>
<body>
    <div class="page-container">
        <div class="form-body">
            <header id="showcase">
                <h1>Multistrategy Algorithmic Trader</h1>
                
                <form action="">
                    <div class="form-body">
                        <input class="button" type="button" value="Login To Broker" onclick="loginToBroker()">
                    </div>
                </form>
            </header>
        </div>
    </div>
</body>
</html>