<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Algo Trading - Python</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <script>
        function loginToBroker() {
          window.location.href =  "http://localhost:8080" + "/apis/broker/login/zerodha"
        }
    </script>
</head>
<body>

    <div id="bg">
        
    </div>
    <div class="page-container">
        <div class="login-container">
            <div class="form-header">
                
                <div class="login-txt">
                    Welcome To Multistratergy Algorithmic Trading
                </div> 
                    <div class="dark-side">
                    </div>  
            </div>

           
                  <form action="">
                    <div class="form-body">
                     <input type="button" value="Login To Broker" onclick="loginToBroker()">
                    </div>

            
        </div>
    </div>
</body>
</html>