<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <title>Algo Trading - Python</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function startAlgo() {
      var url =  "http://localhost:8080" + "/apis/algo/start"
      var data = {};
      $.post(url, {},  
        function(data, status, xhr) {
          if (data.redirect) {
            window.location.href = data.redirect;
          } else {
            alert('status: ' + status + ', data: ' + JSON.stringify(data));
          }
        },
        'json'
      );
    }
  </script>

</head>

<body>
  <div class="page-container">
    <div class="form-body">
        <header id="showcase">
            <h1>Multistrategy Algorithmic Trader</h1>
            <button class="button" onClick="startAlgo()">
              Start Algo
            </button>
        </header>
    </div>
  </div>
</body>
</html>