<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Algo Trading - Python</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script language="javascript">
    function startAlgo() {
      var url =  "http://localhost:8080" + "/apis/algo/start"
      var data = {};
      $.post(url, {},  
        function(data, status, xhr) {
          if (data.redirect) {
            document.getElementById("marketclose").style.visibility="hidden";
            localStorage.setItem("algoStarted", "yes");
            window.location.href = data.redirect;
          }
          else {
            document.getElementById("btto").style.visibility="hidden";
            document.getElementById("marketclose").style.visibility="visible";
          }
        },
        'json'
      );
    }
    function algoStarted() {
      document.getElementById("marketclose").style.visibility="hidden";
      var x = localStorage.getItem("algoStarted");
      if(x == "no") {
          document.getElementById("running").style.visibility="hidden";
      }
      else {
        document.getElementById("btto").style.visibility="hidden";
      }
    }
</script>
</head>

<body onload="algoStarted()">
  <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="http://localhost:8080?algoStarted=true">Home</a></li>
            <li><a href="/positions">Positions</a></li>
            <li><a href="/holdings">Holdings</a></li>
        </ul>
        <h1 class="logo">Explore</h1>
    </div>
</nav>
  <div class="page-container">
    <div class="form-body">
        <header id="showcase">
            <h1 id="multi">Multistrategy Algorithmic Trader</h1>
            <div class="center">
              <button id="btto" class="button" onClick="startAlgo()">
                Start Algo
              </button>
              <h4 id="running">Algo is running...</h4>
              <h4 id="marketclose">Market Closed.</h4>
            </div>
        </header>
    </div>
</div>
</body>

</html>