<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Algo Trading - Python</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <div class="table-wrapper">

    <table border="1" class="fl-table">
    <thead>
        <tr>
            <!-- {% for col in colnames %} -->
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Avg. Price</th>
            <th>P/L</th>

            <!-- {% endfor %} -->
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>